.main-content {
    padding-top: 40px;
}



.contact-form {
    max-width: 500px;
    margin: auto;
}

fieldset {
    padding: 10px;
    border: 2px solid #86592D;
    border-radius: 8px;
    margin: 0;
}

legend {
    background: #7A4E2D;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #3D2B1F;
    font-weight: bold;
}


input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #86592D;
    border-radius: 5px;
    background-color: #F8E4A8;
    color: #3D2B1F;
    font-size: 16px;
    outline-color: #3D2B1F;
    box-sizing: border-box;
}

input {
    margin-bottom: 6px;
}

textarea {
    resize: vertical;
    overflow-y: hidden;
}

.submit-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #7A4E2D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #654220;
}

.error {
    color: red;
}