body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    background-color: #9a6e3a;
    color: #3D2B1F;
}

main {
    position: relative;
    overflow: hidden;
}




.container {
    max-width: 1000px;
    margin: 0 auto;
    
}

.main-content {
    margin-right: 20px;
    margin-left: 20px;

    padding-bottom: 40px;

    display: grid;
}

.main-background {
    position: absolute;
    z-index: -2;

    top: 136px;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;

    border-radius: 20px 20px 0 0;

    max-width: 1000px;

    opacity: 1;
}

.main-background,
.main-background-alt {
    background-color: #F3D996;
}

.main-background-alt {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
}




header {
    position: sticky;
    top: 0;
    z-index: 999;
}


nav {
    background-color: #7A4E2D;
    padding: 10px 0;
    color: white;
    width: 100%;
}


footer {
    background-color: #9a6e3a;
    color: white;
    width: 100%;
    padding: 20px 0 20px 0;
    
}

footer * {
    margin: 0;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px
}

.footer-section {
    margin-left: 20px;
}


.copyright {
    padding-top: 10px;
    color: #100303;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 4px;
}


.nav-list-wrapper {
    position: relative;
}


.nav-list {
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #7A4E2D;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list li {
    margin: 0 8px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;


}

.nav-list li a:hover {
    background-color: #654220;
}



.nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 16px;
    transition: background-color 0.3s ease-in-out;
}

.nav-toggle:hover {
    background-color: #86592D;
}

.nav-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}




.sm-nav-hidden {
    max-height: 0;
}



.main-parallax {
    position: absolute;
    z-index: -10;
    width: 100%;
    top: -20px;

    opacity: 1;
}



.bee-parallax {
    position: absolute;
    /* z-index: -5 or 5 */
    display: none;
}

.bee-parallax svg {
    fill: #FF5722;
    filter: drop-shadow(0 0 8px rgba(255, 87, 34, 0.6)); /* Glow effect */
}




.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline h1 {
    font-size: 96px;
    margin: 0;
    color: #E6A500;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


main h2 {
    border-bottom: 3px solid #86592D;
    padding-bottom: 5px;
    display: inline-block;
}

main h3 {
    background: linear-gradient(to right, #F8E4A8, transparent);
    padding: 4px 10px;
    border-radius: 5px;
}


/* main ordered list */

main ol {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 0;
}

main ol li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

main ol li::before {
    content: counter(list-counter);
    position: absolute;
    left: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #8B5E34;
    background: #F8E4A8;
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    width: 16px;
    justify-content: center;
}


/* main table */

.bee-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.bee-table-wrapper {
    border: 1px solid #86592D;
    border-radius: 10px;
    overflow: hidden;
}

.bee-table th,
.bee-table td {
    padding: 2px 5px;
    text-align: left;
    border: 1px solid #86592D;
}

.bee-table tr:first-child th {
    border-top: none;
}
  
.bee-table tr:last-child td {
    border-bottom: none;
}
  
.bee-table tr td:first-child, .bee-table tr th:first-child {
    border-left: none;
}
  
.bee-table tr td:last-child, .bee-table tr th:last-child {
    border-right: none;
}

.bee-table th {
    background-color: #F8E4A8;
    color: #86592D;
    font-weight: bold;
}









@media (min-width: 768px) {
    body {
        background-color: #F4C766;
    }

    .sm-nav-hidden  {
        max-height: inherit;
        pointer-events: inherit;
    }

    .nav-list {
        position: inherit;
    }
    
    .nav-list ul {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-list li {
        display: inline-block;
    }

    .nav-toggle {
        display: none;
    }

    .headline h1 {
        font-size: 168px;
    }

    .main-background {
        opacity: var(--main-background-opacity, 0.7);
    }

    .main-parallax {
        opacity: var(--main-parallax-opacity, 1);
    }

    .bee-parallax {
        display: inherit;
    }

    .footer-inner {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .bee-table {
        font-size: inherit;
    }

    .bee-table th,
    .bee-table td {
        padding: 12px 15px;
    }

    
}









