body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    color: wheat;
}

main {
    position: relative;
    overflow: hidden;
}




.container {
    max-width: 1000px;
    margin: 0 auto;
    
}

.main-content {
    margin-right: 20px;
    margin-left: 20px;

    padding-bottom: 40px;

    display: grid;
}

.main-background {
    position: absolute;
    z-index: -2;

    top: 136px;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;
    background-color: rgb(24, 12, 1);

    border-radius: 20px 20px 0 0;

    max-width: 1000px;

    opacity: 1;
}




header {
    position: sticky;
    top: 0;
    z-index: 999;
}


nav {
    background-color: #936c2a;
    padding: 10px 0;
    color: white;
    width: 100%;
}


footer {
    background-color: #936c2a;
    color: white;
    width: 100%;
    padding: 20px 0 20px 0;
    
}

footer * {
    margin: 0;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px
}

.footer-section {
    margin-left: 20px;
}


.copyright {
    padding-top: 10px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 4px;
}





.nav-list {
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 8px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;


}

.nav-list li a:hover {
    background-color: #555;
    color: white;
}



.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}


.nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 16px;
    transition: background-color 0.3s ease-in-out;
}

.nav-toggle:hover {
    background-color: rgb(24, 12, 1);
}

.nav-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}




.sm-nav-hidden {
    max-height: 0;
}



.main-parallax {
    position: absolute;
    z-index: -10;
    width: 100%;
    top: -20px;

    opacity: 1;
}



.bee-parallax {
    position: absolute;
    /* z-index: -5 or 5 */
    display: none;
}





.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline h1 {
    font-size: 96px;
    margin: 0;
}




.bee-table {
    font-size: 12px;
    border-collapse: collapse;
}

.bee-table, .bee-table th, .bee-table td {
    border: 1px solid black;
}






@media (min-width: 768px) {
    .sm-nav-hidden  {
        max-height: inherit;
        pointer-events: inherit;
    }

    .nav-list li {
        display: inline-block;
    }

    .nav-toggle {
        display: none;
    }

    .headline h1 {
        font-size: 168px;
    }

    .main-background {
        opacity: var(--main-background-opacity, 0.7);
    }

    .main-parallax {
        opacity: var(--main-parallax-opacity, 1);
    }

    .bee-parallax {
        display: inherit;
    }

    .footer-inner {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .bee-table {
        font-size: inherit;
    }

    
}









